In [1]:
import pandas as pd
pd.read_csv('./../data/Spotify_final_dataset.csv')

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961
...,...,...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,184,0,51321,51321
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,196,0,49512,49512
11081,11082,Mike WiLL Made,It 23,1,0.0,167,0,46547,46547
11082,11083,The Vamps,Somebody To You,1,0.0,200,0,44962,44962
11083,11084,JAY,Z Holy Grail,1,0.0,184,0,44323,44323